<ion-tabs>
  <!-- Tab bar -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-label>Home</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="offers">
      <ion-label>Offers</ion-label>
      <ion-icon name="card"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="bookings">
      <ion-label>Bookings</ion-label>
      <ion-icon name="book"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-label>Settings</ion-label>
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>